<header>
  <div class="container">
   
    <nav>
      <div id='question-number'>
      <a href="#">Question <span class="question_counter"><%=params[:id] %></span> of 30 </a>
      </div>
      <div id='timer'>
        Time Left: 
          <span id="">
          00:00:00
          </span>
      </div>
    </nav>
  </div>
</header>

