<header>
  <div class="container">
   
    <nav>
      <div id='question-number-timer'>
      <p>Question <span class="question_counter"><%=params[:id] %></span> of 30 </p>

      <div id='timer'>
        
        <span id="timer"></span>
      </div>
      </div>
    </nav>
  </div>
</header>

 <script type='text/javascript'>

  
  var count= <%= @exam - Time.now %>;

var counter=setInterval(timer, 1000);

function timer()
{
  console.log('called')
  count=count-1;
  
  if (count <= 0)
  {

     clearInterval(counter);
     return;
  }

 var hours = Math.floor(count/3600)
      var minutes =  Math.floor(count/60) - (hours*60)
      var seconds = count - (minutes * 60) - (hours*3600)
      document.getElementById("timer").innerHTML= hours + ':' + minutes + ":" + Math.floor(seconds); // watch for spelling
}


</script>