

<div class="footer">
  <div class="footer-content" align="center">
        <div class="footer-btn">
      <span style="cursor: pointer;" onclick="previous();">
    </div>
    <div class="footer-btn">
   
    </div>
    <div class="footer-btn">
      <span onclick="mark();" style="cursor: pointer;">mark
    </div>
    <div class="footer-btn">
      review
    </div>
        
  </div>
</div>

