

<div class="footer">
  <div class="footer-content" align="center">
      <input class='direction-btn' id='back-btn' type='submit'  name='submit' value='Back' form='myform'>
      <input class='direction-btn' id='next-btn' type='submit' name='submit' value='Next' form='myform' >
      
  
    <div class="mark-btn">
      mark
    </div>
    <div class="review-btn">
      review
    </div>
        
  </div>
</div>

