<%= render 'exam_header_timer' %>

<table cellspacing='0' style='margin-top: 100px' style='margin:auto'> <!-- cellspacing='0' is important, must stay -->
	<!-- Table Header -->
	<thead>
		<tr>
			<th>Questions</th>
			<th>Marked</th>
			<th>Complete</th>
		</tr>
	</thead>
	<!-- Table Body -->
	<tbody>	
	<%i = 1 %>
	<% while (i < @questions.length + 1) %>
		<tr>
			<td>
				<%=link_to "Question #{i}", exam_question_path(params[:exam_id], i ) %>
			</td>
			<td> 
				<%=  @marked[i - 1] == 'Yes' ? 'Yes' : '' %>
			</td>
			<% if @user_answers[i-1].empty?  %>
			<td>
				No
			</td>
			<% else %>
			<td>
				Yes
			</td>
			<% end %>
		</tr>
			<% i += 1%>
		<% end %>
	</tbody>
</table>


<input class='direction-btn' id='next-btn'  type='submit' name='submit' value='Review incomplete' form='mark-form' >
<input class='direction-btn' id='next-btn'  type='submit' name='submit' value='Review Marked' form='mark-form' >


<%= button_to 'End Exam', exams_complete_exam_path(params[:exam_id]), :method => "post", :class =>'direction-btn', :id =>'next-btn', :style=> 'margin-left: 615px'  %>


