


<%= render 'layouts/header' %>


<div id="profile_picture">
  	<%= gravatar_for @user %>
      <h1> <%= @user.name %></h1>
  </div>
 <div class='show'>
  <div id="banner">
    <div class="profile_name">
   
    </div>
  
 </div>
  
  
</div>