

     <%= render 'layouts/header' %>
   
<div class="center">
  <h1 id="logo">ProActuary</h1>
  <%= image_tag "screencapture.png",:class => "style_image" %>

<%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>



<%= render 'staticpages/footer' %>
 
