
header {
  background-color: #0F6292;
  border-bottom: 2px solid #255e77;
  padding: 5px 20px;

  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  display: block;
  height: 60px;
}

#timer, #question-number-timer {
  color: #fff;
  padding: 5px;
  font-family: Verdana, arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 14pt;
 
}

#timer {
position:relative;
left:400px;
top:-47px;
display:block
  }

#question-number{
  position:relative;
  top:15px
}

#question{
 
  margin-top: 100px;
}

ul {
  list-style: none;
}


.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #0F6292;
  border-top: 2px solid #255e77;
  padding: 5px;
}

* html .footer {
  position: absolute;

}

.footer-btn {
height:100%;
  float:middle;
  padding: 0 5px;
    width:33%;
  display: inline;

}


.footer-content{
vertical-align:middle;
height: 30px;
}

#next-btn {
  position: relative;
  float:bottom;
}