


/* forms */

/*input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;

}*/


.navbar navbar-fixed-top navbar-inverse{
  background-color: #0F6292;
}
.style_image{
 
   display: block;
    max-width:500px;
    max-height:350px;
    width: auto;
    height: auto;
    opacity: .7;
}

#banner {
  background: #5499C3;
  top:0;
  height: 100px;
  width: 900px;
 
}

#profile_picture{
  float: left;
  margin-left: 0px;
}





