


/* forms */

/*input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;

}*/






#banner {
  background: #5499C3;
  top:0;
  height: 100px;
  width: 900px;
 
}

#profile_picture{
  float: left;
  margin-left: 0px;
}





