


/* forms */

/*input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;

}*/


.navbar {
  background-color: #0F6292;
}
.style_image{
 
   display: block;
    max-width:500px;
    max-height:350px;
    width: auto;
    height: auto;
    opacity: .9;
    margin-left: -50px;
}

#banner {
  background: #5499C3;
  top:0;
  height: 100px;
  width: 900px;
 
}

#profile_picture{
  float: left;
  margin-left: 0px;
}

 body.homepage {
    /*background-image:url('background.png');*/
    background-color: #F5F5F5;
}
.center{
  background-color: #0F6292;
  margin-right: -100px;
  margin-left: -100px;
  height: 250px;
  margin-top: -60px;
  margin-left: -80px;
  padding-top: 100px;
}

#image{
  margin-right: auto;
}

#logo{
  color: #fff;
}

