<h1> this is where i am going to show which anwers where correct </h1>

<header>
  <div class="container">
   
    <nav>
      <div id='question-number-timer'>
      <p>CBT Exam 1 </p>
     
      </div>
    </nav>
  </div>
</header>


<table cellspacing='0' style='margin-top: 100px' style='margin:auto'> <!-- cellspacing='0' is important, must stay -->

	<!-- Table Header -->
	<thead>
		<tr>
			<th>Questions</th>
			<th>Marked</th>
			<th>Your response</th>
			<th>Corrent response</th>
		</tr>
	</thead>
	<!-- Table Header -->

	<!-- Table Body -->
	<tbody>

		<tr>
			<td><a href="#yep-iit-doesnt-exist">Question 1</a></td>
			<td></td>
			<td></td>
			<td>Yes</td>
		</tr><!-- Table Row -->

		<tr class="even">
			<td><a href="#yep-iit-doesnt-exist">Question 2</a></td>
			<td></td>
			<td>Yes</td>
			<td>Yes</td>

		</tr><!-- Darker Table Row -->

		<tr>
			<td><a href="#yep-iit-doesnt-exist">Question 3</a></td>
			<td></td>
			<td></td>
			<td>No</td>
		</tr>

		<tr class="even">
			<td><a href="#yep-iit-doesnt-exist">Question 4</a></td>
			<td></td>
			<td></td>
			<td>No</td>
		</tr>

		<tr>
			<td><a href="#yep-iit-doesnt-exist">Question 5</a></td>
			<td></td>
			<td>yes</td>
			<td>Yes</td>
		</tr>

		<tr class="even">
			<td><a href="#yep-iit-doesnt-exist">Question 6</a></td>
			<td></td>
			<td></td>
			<td>yes</td>
		</tr>

		<tr>
			<td><a href="#yep-iit-doesnt-exist">Question 7</a></td>
			<td></td>
			<td></td>
			<td>No</td>
		</tr>


	</tbody>
	<!-- Table Body -->

</table>





<input class='direction-btn' id='next-btn'  type='submit' name='submit' value='Exit Exam' style='margin-left: 400px' form='mark-form' >